* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

body {
  background-color:#C1D9D2;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #19402A;
}

.card {
  align-items: center;
  background-image: linear-gradient(to bottom right, #94F2D0, #69BFA0);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
  filter: grayscale();
	border: solid whitesmoke;
	transition: filter 0.4s ease-in-out;
  cursor: pointer;
  transition-duration: 0.4s;
}

.card:hover #myName::after{
  width: 100%;
	left: 0;
}

.card:after {
  content: "";
  background: #69BFA0;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.card:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.card:focus { 
  outline:0;
 }

 
.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}


nav{
  width: 100%;
  overflow: hidden;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #69BFA0;
  
}

nav li {
  text-align: center;
  display: inline-block;
  width: 8rem;
  
}

nav li a{
  font-size: 1.5rem;
  color: #19402A; 
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

nav li a:hover{
  background-color: #19402A;
  color:#69BFA0;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#clickable{
  margin:0;
  padding-left: 0;
  width:24rem;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
}


.clickable ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width:40%;
  margin-right:2.5rem;
}

.clickable ul li a{
  color: #19402A;
  text-decoration: none;
  
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color:  #69BFA0;
  color:#19402A;
  font-size: 20px;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.prev {
  margin-right: 15px;
}

.btn:disabled {
  background-color:#C1D9D2;
  color: #C1D9D2;
  cursor:default;
  
}

.map{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-items:right;
 
}

.cities {
  padding:0;
  margin:0;
  display:flex;
  flex-flow: row nowrap;
}

.cities.text{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content:start;
}

section{
  margin-left: 2rem;
  margin-right: 2rem;
}
 
form{
  display:flex;
  flex-flow: column nowrap;
  border: 3px #9AA692;
  width: 30%;
  background-color: #9AA692;
  border-radius: 10px;
  margin: 1.5rem 0 0 1.5rem;
  padding: 0.5rem 0 0 0.5rem;
  height:50rem;
}

label, #iceCream{
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 6px;
}


#cmnt {
  margin-top:1rem;
}

input{
  width: 13rem;
  height:4%;
  border-radius: 5px;
  border:0px;
  margin-bottom: 6px;
  padding:3px;
  
}

.icRadio{
  width:5%;
  height: auto;
  border-radius: 0;
  margin-bottom: 0px;
  padding:0px;
}

textarea{
  width: 98%;
  height: 20rem;
  margin-bottom: 3rem;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 5px;
}

#letsTalk {
  padding: 2rem;
}

#submitBtn{
  width: 20%;
  margin-bottom:1rem;
  min-width: fit-content;
}

#submitBtn:disabled{
  background-color:  lightgrey;
  color:#19402A;
  cursor:not-allowed;
}

.submitWrapper{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin:0;
  padding:0;
 
  
}

iframe{
  border-radius: 10px;
  margin-left:4rem;
  margin-bottom:1rem;
  margin-right:4rem;
}

.text p{
  font-size:1.5rem;
}

.why-code{
  margin-bottom: 3rem;
  
}
#picOfMe{
  border-radius: 10px;
  margin-top:5rem;
  margin-left:4rem;
  margin-right: 4rem;
}

.flexRow{
  display:flex;
  margin-bottom:3rem;
}

.content {
  padding-top: 35px;
}

footer{
  width: 100%;
  margin-top: 3rem;
}

.footer{
  display:flex;
  list-style-type: none;
  padding: 0;
  margin: 0;;
  justify-content: center;
}

.footer li{
  text-align: center;
  display: inline-block;
  width: 4rem;
}
.footer li a{
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  color: #19402A; 
}

.footerContainer{
  display:flex;
  flex-flow: row nowrap;
  justify-content:center;
}

.footerText{
  margin-left: 0;
  justify-content: center;
  display: flex;
}



.card{
  filter: grayscale();
	border: 6px solid whitesmoke;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
  cursor: pointer;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}
.card:hover{
  filter: none;
  box-shadow: 0px 2px 10px 5px #69BFA0;
  color: #000;
}

#myName{
  text-align: center;
	position: relative;
}

#myName::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

